<canvas id="myCanvas" width="400" height="200" style="border:1px solid #000000;">
    Your browser does not support the HTML5 canvas tag.</canvas>
    
    <script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    
    
    // Draw car body
    ctx.beginPath();
    ctx.fillStyle = "white";
    ctx.moveTo(50, 150);
    ctx.lineTo(350, 150);
    ctx.lineTo(350, 100);
    ctx.lineTo(300, 75);
    ctx.lineTo(100, 75);
    ctx.lineTo(50, 100);    
    ctx.closePath();
    ctx.fill();
    ctx.stroke();
           
    

    // Draw wheels
    ctx.beginPath();
    ctx.fillStyle = "black";
    ctx.arc(125 ,150 ,25 ,0*Math.PI/180 ,360*Math.PI/180);
    ctx.fill();
    ctx.stroke();      

    ctx.beginPath();
    ctx.fillStyle = "black";
    ctx.arc(275 ,150 ,25 ,0*Math.PI/180 ,360*Math.PI/180);
    ctx.fill();
    ctx.stroke();
    
    

    ctx.beginPath();
    ctx.fillStyle ="white";
    ctx.moveTo(100,140);
    ctx.quadraticCurveTo(-80, 120, 100, 100);
    ctx.fill();
    ctx.stroke();
    

    // Draw rear lights
    /*ctx.beginPath();
    ctx.fillStyle = "white";
    ctx.arc(50 ,130 ,10 ,0*Math.PI/180 ,360*Math.PI/180);
    
    ctx.fill();
    ctx.stroke();
    */
   //parte de arriba del auto
    ctx.beginPath();
    ctx.fillStyle= "white";
    ctx.moveTo(90,90);
    ctx.quadraticCurveTo(200,-40,310,90);    
    ctx.fill();
    ctx.stroke();

    //lineas de las ventanas
    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(200,90);
    ctx.lineTo(200, 140);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke(); 
    
    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(200,90);
    ctx.lineTo(270, 90);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(300,90);
    ctx.lineTo(120, 90);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(300,90);
    ctx.lineTo(300, 130);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(120,90);
    ctx.lineTo(120, 120);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(200,140);
    ctx.lineTo(240, 140);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();


    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(200,140);
    ctx.lineTo(155, 140);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(240,100);
    ctx.lineTo(220, 100);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();

    ctx.beginPath();
    ctx.fillStyle="black";
    ctx.moveTo(150,100);
    ctx.lineTo(134, 100);     
    ctx.closePath();
    ctx.fill();
    ctx.stroke();
    

    </script>